* {
  margin-top: 10px;

  font-family: "Poppins", sans-serif;
  background-color: #fafdff;
  font-size: 17px;
  font-weight: lighter;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .all {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .all {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .all {
    width: 300px;
  }
}

#logo img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 20px;
}

#navbar {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#navbar div {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#menu-list a {
  text-decoration: none;
  color: #6B72E1;
  color: #000000;
  padding: 15px 20px;
  border-radius: 4px;

  margin-bottom: 30px;
}
#menu-list a:hover {
  color: #424abd;
  color: #122035;
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  transition: 0.3s ease
}

#about {
  display: flex;
  justify-content: center;
  gap: 5rem;
   height: 80vh;
}
#img-intro {
  display: flex;
  height: 300px;
  width: 350px;
  margin: auto 0;
}
#img-intro img {
  border-radius: 50%;
}

#text-intro {
  align-self: center;
  text-align: center;
}
.btn-container {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: center;

}


.btn {
  display: inline-block;
  padding: 15px 70px;
  font-size: 16px;
  font-weight: bold;
  color: #122035;
  background-color: white;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

}

.btn:hover {
  background-color: #122035;
  color: #ffffff;
  transition: background-color 0.4s ease;
}

.btn:active {
  background-color: #000000;
}



#portfolio {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.proj-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.proj-cards {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.proj-cards img {
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .proj-cards {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .proj-cards {
    flex: 1 1 100%;
  }
}

#about-more, #expirience {
  /* position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  /* background: linear-gradient(135deg, #77bebf, #98d4d4);  */
}

#about-more div, #expirience div {
  max-width: 800px;
  width: 100%;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  /* position: relative; */
}

#about-more p, #expirience p {
  font-size: 20px;
  line-height: 1.8;
  color: #333;
  margin: 20px 0;
}



h1 {
  color: rgb(82, 121, 158);
  color: rgb(32, 31, 31);
  font-size: 2rem;
  text-align: center;
  margin-top: 0px

}
p {
  /* color: #575F7D; */
  color: black;
  font-size: 17px;
  margin-bottom: 40px;
}
#introduce-card > a {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 30px;
}
h2 {
  font-size: 20px;
  color: #14432b;
  font-weight: bold;
}

a:hover {
  color: #1e2146;
  transition: 0.3s ease
}

li, i {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: inline;
  text-align: center;
  margin-right: 15px;
}

i {
  border-radius: 5px;
  font-size: 40px;
  color: rgb(230, 230, 230);
}
#follow-card i:hover {
  color: black;
}

.box-card {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  overflow-x: hidden;
  padding-top: 20px;
}

.box-card i {
  /* padding: 10px; */
  margin: 10px 20px;
}








#follow-card {
  text-align: center;
  vertical-align: middle;
}
#follow-card  li {
  display: inline-block;
  vertical-align: text-bottom;
}
#follow-card  li:hover i {
  color:#282c61;
  border-radius: 5px;
  transform: rotate(45deg) scale(0.8);
}
#follow-card  li:hover i::before {
  transform: rotate(-45deg) scale(1.5);
}
#follow-card i {
  display: inline-block;
  font-size: 35px;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  color: black;
  margin: 0 10px 10px 10px;
  transition-duration: 0.3s;
}
#follow-card  i::before {
  transition-duration: 0.3s;
}
#follow-card .box i.fa::before {
  display: block;
}








#expirience {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Выравнивание по высоте */
  height: 80vh; /* Ограничиваем высоту секции */
}

.description,
.edu {
  width: 48%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрирование контента по вертикали */
  max-height: 75vh; /* Ограничиваем максимальную высоту блоков */
  overflow-y: auto; /* Добавляем скролл, если контент превышает высоту */
}

.description {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center; /* Центрирование текста */
}

.edu {
  background: #122035;
  padding: 15px;
}

.edu h3 {
  text-align: center; /* Центрируем заголовок в блоке образования */
  margin-bottom: 20px;
}

/* Стили для списка образования */
.edu small {
  display: block;
  opacity: 0.7;
}

.edu ul {
  position: relative;
}

.edu ul li {
  position: relative;
  margin-left: 30px; /* Увеличиваем отступ для выравнивания текста */
  padding-left: 25px;
  padding-bottom: 15px;
}

.edu ul li::before,
.edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}
/*
.edu ul li::before {
  width: 10px;
  height: 10px;
  border: 3px solid white;
  background-color: rgb(12, 104, 225);
  border-radius: 50%;
  left: -25px; 
  z-index: 1;
} */

/* .edu ul li::after {
  width: 3px;
  height: 100%;
  background: #ffffff;
  left: -20px;
  top: 0;
}
*/

.edu ul li:last-of-type::after {
  border-radius: 1.5px;
  height: calc(100% - 3px);
}

/* Анимация */
.edu ul li:hover::before {
  animation: circle 1.2s infinite;
}

.edu ul li:hover span {
  color: #1e2146;
}

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px rgb(149, 58, 194);
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
  .description,
  .edu {
    width: 100%;
    margin-bottom: 20px;
  }
}





.skills-soft {
  clear: both;
  background: #122035;
  padding: 15px;
  margin: 15px 0 0;
}
.skills-soft ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.skills-soft ul li {
  position: relative;
}
.skills-soft ul li:hover svg .cbar {
  stroke: rgb(81, 0, 255);
  stroke-width: 4px;
}
.skills-soft ul li:hover span,
.skills-soft ul li:hover small {
  transform: scale(1.2);
}
.skills-soft ul li svg {
  width: 95%;
  fill: transparent;
  transform: rotate(-90deg);
}
.skills-soft ul li svg circle {
  stroke-width: 1px;
  stroke: white;
}
.skills-soft ul li svg .cbar {
  stroke-width: 3px;
  stroke: rgb(48, 32, 143);
  stroke-linecap: round;
  stroke-dasharray: calc(2 * 3.1416 * 45); /* длина окружности */
  stroke-dashoffset: calc(2 * 3.1416 * 45 * (1 - var(--percent))); /* смещение */
  transition: stroke-dashoffset 0.3s; /* анимация */
}
.skills-soft ul li span,
.skills-soft ul li small {
  position: absolute;
  display: block;
  width: 100%;
  top: 52%;
  transition-duration: 0.3s;
}
.skills-soft ul li span {
  top: 40%;
}
